@charset "UTF-8";
/* CSS Document */

.col{
background-size: cover;
	background-image: url("img/1.png");
	height: 100vh;
}

.uno{
background-size: cover;
	background-image: url("img/3.png");
	height: 100vh;
}

.des{
	background-size: cover;
	background-image: url("img/2.png");
	height: 100vh;
}
.dos{
		background-size: cover;
	background-image: url("img/4.png");
	height: 100vh;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size:50px;
	font-weight: 700;
	color: white;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size:50px;
	font-weight: 700;
	color: white;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
	font-weight: 400;
}
 
img{
	width: 100%;
}