@charset "UTF-8";
/* CSS Document */



.uno{
background-size: cover;
height: 100vh;
	background-image: url("img/1.png");
	margin-top: 10px;
	
}

.dos{
	width:100%;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size:50px;
	font-weight: 700;
	color: white;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size:50px;
	font-weight: 700;
	color: white;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
	font-weight: 400;
}
 
img{
	width: 100%;
}